.place-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .place-form input,
  .place-form textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .place-form input:focus,
  .place-form textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

   
    