@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
*{
    padding:0;
    margin: 0;
}

.logo{
    width: 230px;
    height: 60px;
    margin: 25px;
   
}

.name{
    margin-left:200px;
    margin-top:70px;
    z-index: 2;
    position: absolute;
    
} 
.hat{
    height: 400px;
    width:500px;
    position: absolute;
    margin-right: 700px;
    margin-top:100px;
    
    padding-right: 100px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 5px black;
    z-index: 100;
}

#navbar img.log{
    width:50px;
    margin: 15px;
}
#navbar img.name{
    width:150px;
    margin-bottom: 20px;
    padding: 0;
    margin-left:0px;

}

#navbar::before{
    content:"";
    position: absolute;
    z-index: -1;
    background-color: white;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    
}

#navbar ul{
    float: right;
    display: flex;
    margin-left: 650px;
    
}

#navbar ul li{
    list-style: none;
    /* border-right: 1px solid blanchedalmond; */
}
#navbar ul li:last-child{border:none;
}

#navbar ul li a{
    text-decoration: none;
    padding: 2px 15px;
    display: block;
    border-radius: 23px;
    color: black;
    font-family: 'Pacifico', cursive;
}
#navbar ul li a:hover{
    color:white;
    background-color: rgb(99, 87, 87);
    text-decoration: none;
    padding: 2px 33px;
    display: block;
    border-radius: 15px;
}


/* for home */

#home {
    display: flex;
    text-align: center;
    background-image: url('./jj.jpg');
    /* background-color: #b6b6b6; */
    background-repeat: no-repeat;
    background-size: 1500px 700px;
    /* background-color: rgb(201, 192, 180); */
    height:100%;
    position: relative;
    justify-content: center;
    font-family: 'Pacifico', cursive;
}

#home h1{
    padding: 50px 44px;
    height: 100px;
    font-size: 33px;
}

#about {
    text-align: center;
    /* background-color: rgb(114, 106, 106) ; */
    background-color: ivory;
    max-height: 100%;
    position: relative;
    font-family: 'Pacifico',cursive;
}

 #about div{
    padding: 44px;
    color: black;

} 

#about div p{
    font-size: large;
    font-weight: lighter;
    
}

#contact {
    padding: 34px;
    position: relative;
    /* background-color:rgb(88, 80, 80); */
    background-color:whitesmoke;
    color: black;
    font-family: 'Pacifico', cursive;
}

#contact h1{
    text-align: center;
    font-size: 33px;
}
#contact div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 74px;

}
#contact ul li{
    list-style: none;
    display: inline-block;
    margin: 34px;
    text-align: center;
    font-size: 30px;
}

#email a{
    border-left: 2px solid black;
    padding-left: 64px;
    list-style: none;
   color: black;
   text-decoration: none;
}
.log{
    margin: auto;
}

@media (max-width:780px)
{
    .hat,.name{
        margin: 0;
        display: none;
    }
    .item{
        display: none;
    }
    #home{
        flex-direction: row;
    }
    
}
